@media (min-width:769px) and (max-width:1024px)

{.grid-layout
    {display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 100vh auto 400px auto 400px auto auto auto;
        grid-template-areas: "header"
                            "main"
                            "text-1"
                            "picture-1"
                            "text-2"
                            "picture-2"
                            "resenas"
                            "contacto"
                            "footer";
                            
    }




main
{
    text-align: center;
    padding: 0 60 0 60;
    font-size: 14;
}


.text-1
{
    padding: 20 20 60 20;
    text-align: center;
}

.text-1 h3
{
    font-size: 20;
    margin: 20 0 12 0;
}


.text-2
{
    padding: 20 20 60 20;
    text-align: center;
}

.text-2 h3
{
    font-size: 20;
    margin: 40 0 12 0;
}

.resenas
{
    grid-area: resenas;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "resenat resenat"
    "c1 c2"
    "c3 c3"
}

.contenedor
{
    margin: 20;
    padding: 60 40 60 40;
    border-radius: 20px;
}


.contenedor.c3
{
    margin: 20 180 40 180;
}

}